.wrapper {
  background-image: url(/public/img/bg.jpg);
  background-size: cover; /* Изображение масштабируется и сохраняет пропорции, чтобы покрыть весь блок */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Изображение не повторяется */
  width: 100vw; /* Ширина 100% от ширины экрана */
  height: 100vh; /* Высота 100% от высоты экрана */
}
